/* Leaderboard.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #f4f7f6;
}

.leaderboard-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.leaderboard-header h1 {
  margin: 0;
  font-size: 30px;
  color: #333;
}

.slippage-container {
  display: flex;
  align-items: center;
  border: 1px solid #e27498;
  padding: 5px;
  border-radius: 5px;
}

.slippage-label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.slippage-dropdown {
  padding: 5px;
  font-size: 16px;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 10px;
  text-align: left;
}

.leaderboard-table th {
  border-bottom: 2px solid #e27498;
  font-size: 25px;
  color: #e27498;
  font-weight: 500;
}

.leaderboard-table td {
  border-bottom: 1px solid #ddd;
}

.leaderboard-table input {
  width: 100%;
  padding: 5px;
}
.leaderboard-row:hover {
  background-color: #f0f0f0; /* Change to desired hover color */
}

.view-action-link {
  border: 1px solid #ccc; /* Border color for View/Action link */
  padding: 5px 10px;
  border-radius: 5px;
}
.rank-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e27498; /* Background color for rank circle */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.view-action-link {
  border: 1px solid #e27498; /* Border color for View/Action link */
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #e27498; /* Background color for View/Action link */
  color: white;
}